.infos {
  display: flex;
  color: white;
  justify-content: flex-start;
  margin-top: 20px;
}

.infos-left {
  display: flex;
}

.img {
  background-size: cover;
  background-position: center;
  min-width: 200px;
  min-height: 200px;
  position: relative;
}

.details {
  list-style: none;
  align-self: flex-start;
}

a.delete-link {
  color: $pink;
  text-decoration: none;
  position: absolute;
  bottom: 222px;
  &:hover {
    color: white;
  }
}

.delete-playlists {
  height: 111px;
  padding-left: 32px;
}

.listen-link {
  display: flex;
  width: 30%;
  margin-left: 85px;
  align-items: center;
  justify-content: space-between;
  a {
    align-self: center;
    text-decoration: none;
  }
}

.fas {
  color: black;
  position: absolute;
  bottom: 14px;
  left: 19px;
  font-size: 40px;
}

.play {
  border-radius: 50px;
  height: 70px;
  width: 70px;
  border: 1px solid $pink;
  position: relative;
  background: $pink;
}

body > div.background > div > div > div.infos > div.listen-link > a > div:nth-child(2) > p {
  text-align: center;
  padding-top: 10px;
  color: white;
}
