<div class="banner"">
  <div class="container">
    <h1>Créez vos playlists personnalisées</h1>
    <h5>Générez et enregistrez vos playlists personnalisées en quelques clics !</h5>
    <%= link_to "Me connecter", new_user_session_path, class: "btn-signin" %>
  </div>
</div>
