<div class="banner"">
  <div class="container">
    <h1>Créez vos playlists personnalisées</h1>
    <h5>Créez et enregistrez vos playlists personnalisées en quelques clics ! Ces playlists seront directement ajoutées à votre compte Spotify.</h5>
    <%= link_to "Me connecter avec Spotify", user_spotify_omniauth_authorize_path, class: "btn-signin" %>
    <p class="ml">Veuillez utiliser le compte Spotify test ou demander à l'administrateur d'ajouter votre compte Spotify en tant que compte test pour pouvoir vous connecter.</p>
  </div>
</div>
