@import "config/colors";

.banner {
  background: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  height: 500px;
}

.banner h1 {
  margin-bottom: 20px;
  color: black;
  font-size: 54px;
  font-weight: bold;
}

.banner h5 {
  font-size: 18px;
  color: black;
  opacity: .7;
  margin-bottom: 32px;
}

.banner .container {
  text-align: left;
}

.ml {
  font-size: 10px;
  font-style: italic;
  margin-top: 15px;
  color: rgb(62, 62, 62);
}


// Smallest device
@media (min-width: 100px) and (max-width: 768px) {
  .banner {
    height: 100vh;
    align-items: stretch;
  }
  .banner h1 {
    font-size: 43px;
    margin-bottom: 35px;
    text-align: center;
  }
  .banner h5 {
    font-size: 16px;
    text-align: center;
    opacity: 1;
  }
  .ml {
    color: black;
    text-align: center;
  }
}
